<!DOCTYPE html>
<html lang="en">
<head>
    <title>VPN Providers</title>
    <link rel="stylesheet" href="{{ "main.css" | dist }}">
</head>
<body>
<header id="header">
    <nav>
        <a href="/">Home</a>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer id="footer">
    <p>&copy; VPN Providers</p>
</footer>

<script src="{{ "main.js" | dist }}"></script>
</body>
</html>